

.card-big {
 height: 450px;
 width:350px;
 position:relative;
 background-position: center;
}

.card-inner {
position: relative;

height: 100%;
width: 100%;
}
 

.card-big, .flip-card-front {
  position: absolute;
  backface-visibility: hidden;
  width:350px;
}

.flip-card-front {
  background-color: white;
}

.card-big a {
color:white;
text-decoration:none;
font-family: $headers-font;
}

.card-big a:first-child  {
 font-size:32px;
}

.flex-name {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.card-text-bottom-right {
  position: absolute;
  right: 10px;
  bottom:10px;
}
